@if (isOpen()) {
  
  <div class="modal-backdrop">
    
    <div class="modal-container">
      
      <!--close button-->
      <button class="close-btn" (click)="close()">×</button>

      <!--login-->
      @if (getMode() === 'LOGIN') {
        <div class="auth-box">

          <h2>Welcome Back</h2>
          <p class="subtitle">Enter your details to sign in.</p>
          
          <!--ngSubmit automatically prevents page reload-->
          <form (ngSubmit)="login()">

            <div class="input-group">

              <label>Username</label>
              <input type="text" name="username" [(ngModel)]="username" placeholder="username" required />

            </div>

            <div class="input-group">
              
              <label>Password</label>
              <input type="password" name="password" [(ngModel)]="password" placeholder="••••••••" required />

            </div>

            @if (errorMessage) {
              <div class="error-message">
                {{ errorMessage }}
              </div>
            }

            <div class="forgot-link-container">
              <a class="switch-link" (click)="changeMode('FORGOT')">Forgot password?</a>
            </div>
            
            <button type="submit" class="auth-submit-btn">Sign In</button>

          </form>

          <div class="switch-mode">
            Don't have an account? 
            <a class="switch-link-bold" (click)="changeMode('REGISTER')">Sign Up</a>
          </div>

        </div>
      }

      @if (getMode() === 'REGISTER') {
      <div class="auth-box">

        <h2>Create an Account</h2>
        <p class="subtitle">Join our sports community.</p>
        
        <form (ngSubmit)="goToExtendedRegister()">
          
          <div class="input-group">

            <label>Username</label>
            <input type="text" name="regUsername" [(ngModel)]="username" placeholder="Username" required />

          </div>

          <div class="input-group">

            <label>Password</label>
            <input type="password" name="regPassword" [(ngModel)]="password" placeholder="••••••••" required />

          </div>

          <div class="input-group">

            <label>First Name</label>
            <input type="text" name="firstName" [(ngModel)]="firstName" placeholder="First Name" required />

          </div>

          <div class="input-group">

            <label>Last Name</label>
            <input type="text" name="lastName" [(ngModel)]="lastName" placeholder="Last Name" required />

          </div>

          <div class="input-group">

            <label>Phone Number</label>
            <input type="text" name="phone" [(ngModel)]="phone" placeholder="06xxxxxxx" required />

          </div>

          <div class="input-group">

            <label>Email Address</label>
            <input type="email" name="email" [(ngModel)]="email" placeholder="name@example.com" required />

          </div>

          <div class="input-group">

            <label>Register as</label>
            <select name="role" [(ngModel)]="role">
              <option value="ATHLETE">Athlete</option>
              <option value="EMPLOYEE">Employee</option>
            </select>

          </div>

          @if (errorMessage) {
            <div class="error-message">
              {{ errorMessage }}
            </div>
          }
          
          <button type="submit" class="auth-submit-btn">Continue</button>
          
        </form>

        <div class="switch-mode">
          Already have an account?
          <a class="switch-link-bold" (click)="changeMode('LOGIN')">Sign In</a>
        </div>

      </div>
    }

      @if (getMode() === 'EXTENDED_REGISTER') {
        <div class="auth-box">

        <h2>Additional Details</h2>
        <p class="subtitle">Complete your profile setup.</p>
        
        <form (ngSubmit)="register()">
          
          @if (role === 'EMPLOYEE') {
            <div class="dynamic-section">

              <h3>Facility Details</h3>
              
              <div class="input-group">

                <label>Facility Name</label>
                <input type="text" name="facilityName" [(ngModel)]="facilityName" placeholder="Facility name" required />

              </div>

              <div class="input-group">

                <label>Facility Address</label>
                <input type="text" name="facilityAddress" [(ngModel)]="facilityAddress" placeholder="Facility address" required />

              </div>

              <div class="input-group">

                <label>Facility City</label>
                <input type="text" name="facilityCity" [(ngModel)]="facilityCity" placeholder="Location of the facility" required />

              </div>

              <div class="input-group">

                <label>Registration Number (8 digits)</label>
                <input type="text" name="facilityMb" [(ngModel)]="facilityMb" placeholder="12345678" required pattern="^\d{8}$" />

              </div>

              <div class="input-group">

                <label>Tax ID / PIB (9 digits)</label>
                <input type="text" name="facilityPib" [(ngModel)]="facilityPib" placeholder="123456789" required pattern="^[1-9]\d{8}$" />

              </div>

            </div>
          }

          @if (role === 'ATHLETE') {
            <div class="dynamic-section">

              <div class="input-group">

                <label>Select sports of interest (up to 5)</label>
                <p class="helper-text">(Hold Ctrl / Cmd to select multiple)</p>
                
                <select multiple name="sports" [(ngModel)]="selectedSports" (ngModelChange)="onSportsChange()" class="multi-select">
                  @for (sport of sports(); track sport.id) {
                    <option [ngValue]="sport.id">{{ sport.name }}</option>
                  }
                </select>

              </div>

            </div>
          }

          @if (errorMessage) {
            <div class="error-message">
              {{ errorMessage }}
            </div>
          }

          @if (successMessage) {
            <div class="success-message">
              {{ successMessage }}
            </div>
          }

          <div class="action-buttons-row">
            <button type="button" class="back-btn" (click)="changeMode('REGISTER')">Back</button>
            <button type="submit" class="auth-submit-btn flex-fill">Complete Registration</button>
          </div>

        </form>

      </div>
    }
          
      <!--forgot password-->
      @if (getMode() === 'FORGOT') {
        <div class="auth-box">

          <h2>Forgot Password</h2>
          <p class="subtitle">Enter your email to receive a recovery link.</p>
          
          <form (ngSubmit)="resetPassword()">

            <div class="input-group">

              <label>Email Address</label>
              <input type="email" name="forgotEmail" [(ngModel)]="email" placeholder="name@example.com" required />

            </div>
            
            <button type="submit" class="auth-submit-btn">Send Link</button>

          </form>

          <div class="switch-mode">
            Go back to 
            <a class="switch-link-bold" (click)="changeMode('LOGIN')">Sign In</a>
          </div>

        </div>
      }

    </div>
  </div>
}