<div class="reset-password-container">
  <div class="auth-box">
    <h2>Set New Password</h2>

    @if (!successMessage) {
      <form (ngSubmit)="confirm()">
        <div class="input-group">
          <label>New Password</label>
          <input type="password" name="newPassword" [(ngModel)]="newPassword" placeholder="New password" required />
        </div>

        <div class="input-group">
          <label>Confirm Password</label>
          <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" placeholder="Confirm new password" required />
        </div>

        @if (errorMessage) {
          <p class="error-message">{{ errorMessage }}</p>
        }

        <button type="submit" class="auth-submit-btn">Confirm</button>
      </form>
    } @else {
      <p class="success-message">{{ successMessage }}</p>
    }
  </div>
</div>