<button class="back-btn" (click)="goBack()">Back</button>

@if (mode === "explore") {
    <div class="table-title">
        <span class="title">Explore reservations</span>
    </div>

    <div class="table-card">
        <div class="table-wrapper">
            <table class="custom-table">
                <thead>
                    <tr>
                        <th>Facility Name</th>
                        <th>City</th>
                        <th>Court Name</th>
                        <th>Sport</th>
                        <th>Date & Time</th>
                        <th class="text-center">Apply?</th>
                    </tr>
                </thead>

                <tbody>
                    @for (res of exploreReservations; track res.id) {
                        <tr>
                            <td class="facility-name">{{ res.facilityName }}</td>

                            <td>
                                <span class="city-text">{{ res.city }}</span>
                            </td>

                            <td class="court-name">{{ res.courtName }}</td>

                            <td>
                                <span class="sport-badge">{{ res.sportName }}</span>
                            </td>

                            <td class="date-cell">
                                {{ res.startTime | date:'dd.MM.yyyy. HH:mm' }} – {{ res.endTime | date:'HH:mm' }}
                            </td>
                            <td class="text-center">
                                @let status = getStatus(res.id);
                                @if (status === 'ACCEPTED') {
                                    <span class="status-badge accepted">Accepted</span>
                                } @else if (status === 'PENDING') {
                                    <span class="status-badge pending">Pending</span>
                                } @else if (status === 'REJECTED') {
                                    <span class="status-badge rejected">Rejected</span>
                                } @else {
                                    <button class="apply-btn" (click)="apply(res.id)">Ask</button>
                                }
                            </td>
                        </tr>
                    } @empty {
                        <tr>
                            <td colspan="6" class="no-data">No reservations found.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @if (successMessage) {
            <span class="success-msg">{{successMessage}}</span>
        }
    </div>
}