/*for displayed facilities*/
body{
    background-color: azure;
}

/*titles*/
h1 {
    text-align: center;
    margin-bottom: 40px;
    color: rgb(15, 23, 42);
}

h2 {
    text-align: left;
    margin-bottom: 35px;
    color: rgb(15, 23, 42);
}

h3 {
    background-color: rgb(15, 23, 42);
    border-radius: 18px;
    text-align: center;
    margin-bottom: 35px;
    color: white;
}

/*page*/
.page-container{
    /*image url*/
    background-image: url("/background-default.jpg");
    /*cover whole screen*/
    background-size: cover;
    /*center image*/
    background-position: center;
    /*dont place 2 pictures if larger*/
    background-repeat: no-repeat;
    /*doesnt scroll with the page*/
    background-attachment: fixed;
    max-width: 1500px;
    margin: auto; /*centers page if wider than max*/
    padding: 40px;
}

/*search box*/
.search-card{
    background-color: azure;
    border-radius: 18px; /*rounded*/
    padding: 25px;
    box-shadow: 0 4px 15px rgba(0,0,0,.08);
    margin-bottom: 35px;
}

/*forms box*/
.search-grid{
    display: grid;
    grid-template-columns: repeat(5,1fr); /*5 columns same size*/
    gap: 15px;
    margin-top: 20px;
}

/*for input and select fields*/
.search-grid input,
.search-grid select{
    padding: 12px;
    border-radius: 10px; /*rounded*/
    border: 1px solid #ddd;
    font-size: 15px;
}

/*search button*/
.search-grid button{
    border: none;
    border-radius: 10px;
    background-color: rgb(15, 23, 42);
    color: white;
    cursor: pointer; /*cursor change when hovered*/
    transition: .2s; /*smooth color change*/
    font-weight: bold;
}

/*button when hovered*/
.search-grid button:hover{
    background-color: rgb(47, 181, 130);;
    transform:scale(1.02);
}

/*content (table + sidebar)*/
.content-layout {
    display: grid;
    grid-template-columns: 3fr 1fr; /*table 3:1 sidebar size*/
    gap: 30px;
}

/*table of facilities*/
.table-card{
    background: white;
    border-radius: 18px; /*rounded*/
    box-shadow: 0 4px 15px rgba(0,0,0,.08);
    padding: 25px;
}

table{
    width: 100%;
    border-collapse: collapse; /*no double lines*/
    margin-top: 15px;
}

th{
    background-color: rgb(243, 240, 236);
    padding: 15px;
    text-align: left;
}

td{
    padding: 15px;
    border-top: 1px solid #eee;
}

tbody tr{
    transition: .2s;
}

tbody tr:hover{
    background-color: rgb(243, 240, 236);
}

/*details button*/
.details-btn{
    border: none;
    background-color: rgb(15, 23, 42);
    color: white;
    padding: 8px 18px;
    border-radius: 8px; /*rounded*/
    cursor: pointer; /*cursor change when hovered*/
    transition: .2s;
}

.details-btn:hover{
    background-color: rgb(47, 181, 130);;
    transform: scale(1.05);
}

/*sidebar box*/
.sidebar{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/*number of active facilities*/
.info-card{
    background: white;
    border-radius: 18px;
    box-shadow: 0 4px 15px rgba(0,0,0,.08);
    padding: 20px;
}

/*that number*/
.big-number{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    color: rgb(15, 23, 42);
    margin-top: 15px;
}

/*top promotions*/
.promotion{
    display: flex;
    flex-direction: column;
    padding: 12px 0;
    border-bottom: 1px solid #eee;
}

/*top3 facilities*/
.top-facility{
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #eee;
}

/*adaptation for smaller screens*/
@media (max-width:1000px){

    .content-layout{
        grid-template-columns: 1fr;
    }

    .search-grid{
        grid-template-columns: 1fr;
    }

}