<div class="container">

  <div class="toggle-container">
    <button type="button" class="toggle-btn" [class.active]="selectedView === 'Promo'" (click)="toggleView('Promo')">
      Promotions
    </button>
    <button type="button" class="toggle-btn" [class.active]="selectedView === 'Equip'" (click)="toggleView('Equip')">
      Equipment
    </button>
    <button type="button" class="toggle-btn" [class.active]="selectedView === 'Order'" (click)="toggleView('Order')">
      Orders
    </button>
  </div>

  @if(selectedView === 'Promo') {
    <div class="table-wrapper">
      <table class="custom-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Facility</th>
            <th>Sport</th>
            <th class="time-cell">Time</th>
            <th>Discount</th>
            <th class="actions-txt">Action</th>
          </tr>
        </thead>
        <tbody>
          @for (promo of promotions; track promo.id) {
            <tr>
              <td>
                {{ promo.name }}
              </td>
              <td>
                {{ promo.facilityName }}
              </td>
              <td>
                {{ promo.sportName }}
              </td>
              <td class="time-cell">
                <div class="date-text">{{ promo.startDate | date:'dd.MM.yyyy.' }}</div>
                <div class="time-text">{{ promo.startDate | date:'HH:mm' }} - {{ promo.endDate | date:'HH:mm' }}</div>
              </td>
              <td>
                {{ promo.discountValue }} 
                @if (promo.discountType == 'PERCENTAGE') {
                    %
                }
                @else {
                    RSD
                }
              </td>
              <td>
                <div class="actions-cell">
                    <button type="button" class="btn-green" (click)="openUpdate(promo)">Update</button>
                </div>
              </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="6" class="no-data">No promotions found.</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <button type="button" class="btn-blue" (click)="openCreate()">Create</button>
  }
  @else if (selectedView === 'Equip'){
    <div class="table-wrapper">
      <table class="custom-table">
        <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Sport</th>
            <th>Price</th>
            <th>Stock</th>
            <th class="actions-txt">Action</th>
          </tr>
        </thead>
        <tbody>
          @for (item of equipment; track item.id) {
            <tr>
              <td>
                <img 
                    [src]="'http://localhost:8080/' + item.imageUrl" 
                    [alt]="item.name" 
                    class="item-img"
                />
              </td>
              <td>
                {{ item.name }}
              </td>
              <td>
                {{ item.sportName }}
              </td>
              <td>
                {{ item.price }} RSD
              </td>
              <td>
                <span class="stock-badge" [class.out-of-stock]="item.stock === 0">
                    {{ item.stock > 0 ? item.stock + ' in stock' : 'Out of stock' }}
                </span>
              </td>
              <td>
                <div class="actions-cell">
                    <button type="button" class="btn-green">Update</button>
                </div>
              </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="6" class="no-data">No equipment found.</td>
            </tr>
          }
        </tbody>
      </table> 
    </div>
    <button type="button" class="btn-blue">Add</button>
  }
  @else {
    <div class="table-wrapper2">
      <table class="custom-table">
        <thead>
          <tr>
            <th>Athlete Username</th>
            <th>Order Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          @for (item of orders; track item.id) {
            <tr>
              <td class="date-text">
                {{ item.athleteName }}
              </td>
              <td class="time-cell">
                <div class="date-text">{{ item.orderDate | date:'dd.MM.yyyy.' }}</div>
                <div class="time-text">{{ item.orderDate | date:'HH:mm' }}</div>
              <td>
                <span 
                  class="order-badge" 
                  [ngClass]="{
                    'cancel-badge': item.status === 'CANCELLED',
                    'picked-badge': item.status === 'PICKED_UP'
                  }">
                  @if (item.status === 'ACCEPTED') {
                    <div class="actions-cell">
                      <button type="button" class="btn-green" (click)="changeStatus(item.id,'PICKED_UP')">Picked-up</button>
                      <button type="button" class="btn-red" (click)="changeStatus(item.id, 'CANCELLED')">Cancel</button>
                    </div>
                  }
                  @else {
                    {{ item.status }}
                  }
                </span>
              </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="6" class="no-data">No orders found.</td>
            </tr>
          }
        </tbody>
      </table> 
    </div>
    @if (successMessage) {
      <span class="picked-badge">{{successMessage}}</span>
    }
  }

  @if (showModal) {
    <app-employee-promotion-modal-component 
        [employeeId]="currentEmployeeId"
        [promotionToEdit]="selectedPromotionForEdit"
        (close)="closeModal($event)">
    </app-employee-promotion-modal-component>
  }

</div>